.services {
    padding-top: 40px;
    background-color:#EBEBEB;
}
.services__description p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #BDBDBD;
    padding-bottom: 30px;
}
.services__description h2 {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #333333;
}
.services__menu {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    
}
.services__care {
    padding-bottom: 20px;
    position: relative;
}
.services__care {
    padding-bottom: 20px;
    position: relative;
}
.services__type {
    position: absolute;
    left: 12%;
    top: 71%;
    width: 50%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}